.message {
  background-color: lightblue;
}

.collapsable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 8px 6px;
}

.collapsable-header h3 {
  margin: 0;
  /* Remove default margin to align properly */
}

.collapsable-header div {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
  /* Add some space between the h3 and the icon */
}

.icon.expanded {
  transform: rotate(90deg);
}

.no-content {
  height: 100%;
}

.annotation-input {
  max-height: 30vh;
}